# MANIFEST.in
graft src

# `-> adds all files inside a directory

# `-> matches file paths relative to the root of the project

global-exclude *~ *.py[cod] *.ipynb *.DS_Store .*-sunloginclient*
# `-> matches file names (regardless of directory)